<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.antniofernandes.alusydroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/alusys"
        android:label="@string/app_name"
        android:roundIcon="@drawable/alusys"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.antniofernandes.alusydroid.add"
            android:label="@string/title_activity_add"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <provider
            android:name="com.pushlink.android.FileProvider"
            android:authorities="com.example.antniofernandes.alusydroid"
            android:exported="true" />

        <activity android:name="com.example.antniofernandes.alusydroid.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.antniofernandes.alusydroid.Clientes" />
        <activity android:name="com.example.antniofernandes.alusydroid.gerar" />
        <activity android:name="com.example.antniofernandes.alusydroid.planeador" />
        <activity android:name="com.example.antniofernandes.alusydroid.segunda" />
        <activity android:name="com.example.antniofernandes.alusydroid.terceira" />
        <activity android:name="com.example.antniofernandes.alusydroid.gerador" />
        <activity android:name="com.example.antniofernandes.alusydroid.atualizacao" />
        <activity android:name="com.example.antniofernandes.alusydroid.login" />
    </application>

</manifest>